---
version: 2.1

orbs:
  terraform: twdps/terraform@0.6.0

# ==== global pipeline parameters

parameters:
  context:
    description: circleci context for all jobs
    type: string
    default: di-DR-lab

# ==== triggers

on-push-main: &on-push-main
  branches:
    only: /main/
  tags:
    ignore: /.*/

# ==== commands, jobs, workflows

commands:

  set-environment:
    steps:
      - run:
          name: set terraform cloud credentials
          command: |
            pwd
            cat \<<EOF > ~/.terraformrc
            credentials "app.terraform.io" {
              token = "${TFE_TOKEN}"
            }
            EOF
  store-system-credentials:
    parameters:
      region:
        type: string
    steps:
      - run:
          name: install teller
          command: |
            wget https://github.com/tellerops/teller/releases/download/v1.5.6/teller_1.5.6_Linux_x86_64.tar.gz
            sudo tar -xvf teller_1.5.6_Linux_x86_64.tar.gz
            sudo mv teller /usr/local/bin/.
      - run:
          name: write cluster kubeconfig to secrets store
          command: bash scripts/write_cluster_credentials.sh << parameters.region >>
  
  create-storage-class:
    parameters:
      region-file:
        type: string
      workspace:
        type: string
    steps:
      - run:
          name: install kubectl
          command: |
            curl -LO "https://dl.k8s.io/release/v1.26.2/bin/linux/amd64/kubectl"
            sudo chmod +x kubectl
            sudo mv -f kubectl /usr/local/bin/kubectl
      - run:
          name: install helm
          command: |
            curl -SLO "https://get.helm.sh/helm-v3.11.2-linux-amd64.tar.gz"
            tar -xf "helm-v3.11.2-linux-amd64.tar.gz"
            sudo mv -f linux-amd64/helm /usr/local/bin
      - run:
          name: set kuebconfig 
          command: |
            mkdir ~/.kube
            cat kubeconfig_di-dr-lab-<< parameters.region-file >> > ~/.kube/config
            chmod 600 ~/.kube/config
      - run:
          name: deploy aws efs-csi storage class provisioners
          command: bash scripts/deploy_efs_csi_driver.sh << parameters.region-file >>
      - run:
          name: provision cluster-wide storage class definition
          command: bash scripts/deploy_efs_storage_class.sh << parameters.region-file >> << parameters.workspace >>


workflows:
  version: 2

  continuation-generated-workflow:
    jobs:
      - terraform/plan:
          name: qa-us-west-2 change plan
          context: << pipeline.parameters.context >>
          workspace: qa-us-west-2
          var-file: env_test/qa-us-west-2.tfvars.json
          before-terraform:
            - set-environment
          filters: *on-push-main

      - terraform/plan:
          name: qa-us-east-2 change plan
          context: << pipeline.parameters.context >>
          workspace: qa-us-east-2
          var-file: env_test/qa-us-east-2.tfvars.json
          before-terraform:
            - set-environment
          filters: *on-push-main

      - approve qa changes:
          type: approval
          requires:
            - qa-us-west-2 change plan
            - qa-us-east-2 change plan
          filters: *on-push-main

      - terraform/apply:
          name: apply qa-us-west-2 change plan
          context: << pipeline.parameters.context >>
          workspace: qa-us-west-2
          var-file: env_test/qa-us-west-2.tfvars.json
          before-terraform:
            - set-environment
          after-terraform:
            - store-system-credentials:
                region: qa-us-west-2
            - create-storage-class:
                region-file: qa-us-west-2
                workspace: qa-us-west-2
          requires:
            - approve qa changes

      - terraform/apply:
          name: apply qa-us-east-2 change plan
          context: << pipeline.parameters.context >>
          workspace: qa-us-east-2
          var-file: env_test/qa-us-east-2.tfvars.json
          before-terraform:
            - set-environment
          after-terraform:
            - store-system-credentials:
                region: qa-us-east-2
            - create-storage-class:
                region-file: qa-us-east-2
                workspace: qa-us-east-2
          requires:
            - approve qa changes

      - terraform/plan:
          name: preview-us-east-2 change plan
          context: << pipeline.parameters.context >>
          workspace: preview-us-east-2
          var-file: env_test/preview-us-east-2.tfvars.json
          before-terraform:
            - set-environment
          filters: *on-push-main
          requires:
            - approve qa changes


      - terraform/plan:
          name: preview-us-west-2 change plan
          context: << pipeline.parameters.context >>
          workspace: preview-us-west-2
          var-file: env_test/preview-us-west-2.tfvars.json
          before-terraform:
            - set-environment
          filters: *on-push-main
          requires:
            - approve qa changes


      - approve preview changes:
          type: approval
          requires:
            - preview-us-east-2 change plan
            - preview-us-west-2 change plan
          filters: *on-push-main

      - terraform/apply:
          name: apply preview-us-east-2 change plan
          context: << pipeline.parameters.context >>
          workspace: preview-us-east-2
          var-file: env_test/preview-us-east-2.tfvars.json
          before-terraform:
            - set-environment
          after-terraform:
            - store-system-credentials:
                region: preview-us-east-2
            - create-storage-class:
                region-file: preview-us-east-2
                workspace: preview-us-east-2
          requires:
            - approve preview changes

      - terraform/apply:
          name: apply preview-us-west-2 change plan
          context: << pipeline.parameters.context >>
          workspace: preview-us-west-2
          var-file: env_test/preview-us-west-2.tfvars.json
          before-terraform:
            - set-environment
          after-terraform:
            - store-system-credentials:
                region: preview-us-west-2
            - create-storage-class:
                region-file: preview-us-west-2
                workspace: preview-us-west-2
          requires:
            - approve preview changes

